/BookDAL.class
/BookDFacade.class
/IRootDAL.class
/IRootDALFacade.class
/PoemDAL.class
/PoemFileDAL.class
/RootDAL.class
/RootDALFacade.class
/VerseDAL.class
/PoemFacade.class
/PoemFacadeDAL.class
/PoemFacadeDAL_implementation.class
/poemFile_FacadeDLL.class
/PoemFacade_FasacdeDLL_Implementation.class
/PoemFile_FasacdeDLL_Implementation.class
/PoemFile_FacadeDLL.class
/IDALFacade.class
/DALFacadeClass.class
/DatabaseConnection.class
